<div class="menu">
<ul>
  <li class="list"><%= link_to "プロフィール確認" , users_show_path(@user) , class:"account_link"%></li>
  <li class="list"><%= link_to "プロフィール編集" , edit_user_path(@user) , class:"account_link" %></li>
</ul> 
</div>